<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Ansible Jakarta : Using Jinja2 in Ansible</title>

  <!-- Required stylesheet -->
  <link rel="stylesheet" media="screen" href="core/deck.core.css">

  <!-- Extension CSS files go here. Remove or add as needed. -->
  <link rel="stylesheet" media="screen" href="extensions/goto/deck.goto.css">
  <link rel="stylesheet" media="screen" href="extensions/menu/deck.menu.css">
  <link rel="stylesheet" media="screen" href="extensions/navigation/deck.navigation.css">
  <link rel="stylesheet" media="screen" href="extensions/status/deck.status.css">
  <link rel="stylesheet" media="screen" href="extensions/scale/deck.scale.css">

  <!-- Style theme. More available in /themes/style/ or create your own. -->
  <link rel="stylesheet" media="screen" href="themes/style/swiss.css">

  <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" media="screen" href="themes/transition/horizontal-slide.css">

  <!-- Basic black and white print styles -->
  <link rel="stylesheet" media="print" href="core/print.css">

  <!-- Required Modernizr file -->
  <script src="modernizr.custom.js"></script>
</head>
<body>
  <div class="deck-container">

    <!-- Begin slides. Just make elements with a class of slide. -->

    <section class="slide">
      <h1>Using Jinja2 in Ansible</h1>
      <h3>Ansible Jakarta Meetup #4</h3>
    </section>

    <section class="slide">
      <h2>Jinja2</h2>
      <img src="jinja.png" alt="Jinja" />
      <ul>
          <li>Template Engine For Python</li>
          <li>Modelled after Django Template Language</li>
          <li>Experimental Support to Python 3</li>
      </ul>
    </section>

    <section class="slide">
      <h2>Jinja2 Template Designer</h2>
      <ul>
        <li>Variables : <code>{{ foo }}</code></li>
        <li>Filters : <code>{{ foo | lower }}</code></li>
        <li>Tests : <code>{% if variable is defined %}</code></li>
        <li>Comments : <code>{# ... #}</code></li>
        <li>Template Inheritance : <code>{% extends .... %} {% block title %} .. {% endblock %}</code></li>
        <li>Control Structure : <code>{% if xxx == xxx %}{% endif %}{% for user in users %}{% endfor %}</code>
          <br><code>{% macro foo(blah) %}{% endmacro %}{% call foo('ouch') %}{% endcall %}</code>
        </li>
        <li>Literals : <code>"String" 12345 123.45 [1, 2, 3] (1, 2, 3) {'dict': 123} true</code>
          <br><code>{% for k, v in [('one', 'satu'), ('two', 'dua')] %} {{ k }} = {{ v }}{% endfor %}</code>
        </li>
      </ul>
    </section>

    <section class="slide">
      <h2>Jinja2 Template Designer (Cont'd)</h2>
      <ul>
        <li>Math : <code>{{ foo * 3 }}</code></li>
        <li>Comparison : <code>{% if foo == 1 %}</code></li>
        <li>Logic : <code>and or not</code></li>
      </ul>
    </section>

    <section class="slide">
      <h2>Jinja2 in Ansible</h2>
      <ul>
          <li>
            Variables + Filters in Roles (Task / Meta), Playbook
            <p>
                <code>{{ variable_1 }}</code>
                <br>
                <code>{{ ansible_user | upper }}</code>
                <br>
                <code>{{ ansible_user | default('user_x') }}</code>
                <br>
                <code>{{ ansible_eth0["ipv4"]["address"] }}</code>
            </p>
          </li>

          <li>Templates in Roles
            <p>
                <code>
                     {% if 'webserver' in group_names %}
                         # some part of a configuration file that only applies to webservers
                     {% endif %}
                </code><br>
                <code>
                     {% for host in groups['app_servers'] %}
                        # something that applies to all app servers.
                     {% endfor %}
                </code>
            </p>
          </li>

      </ul>
    </section>

    <section class="slide">
      <h2>Demo 1</h2>
      <p>Basic usage variables and jinja2 filters</p>
    </section>

    <section class="slide">
      <h2>Demo 2</h2>
      <p>Jinja2 Variables and Templating Language in real ansible usage. <br>Thumbor + Nginx Provisioning Script.</p>
    </section>
    
    <section class="slide">
      <h2>Thanks</h2>
      <h4>Robertus Negoro, Ops at KMKLabs</h4>
      <ul>
        <li>https://github.com/robeevanjava/ansible_talks</li>
        <li>http://jinja.pocoo.org/docs/dev/templates/</li>
      </ul>
    </section>
    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    <!-- deck.goto snippet -->
    <form action="." method="get" class="goto-form">
      <label for="goto-slide">Go to slide:</label>
      <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
      <datalist id="goto-datalist"></datalist>
      <input type="submit" value="Go">
    </form>

    <!-- End extension snippets. -->
  </div>

<!-- Required JS files. -->
<script src="jquery.min.js"></script>
<script src="core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/goto/deck.goto.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>
<script src="extensions/scale/deck.scale.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>
